username = "YOUR BOT NAME HERE LOWERCASE"
password = "YOUR PASSWORD"
client_id = "YOUR CLIENT ID FROM REDDIT"
client_secret = "SECRET CLIENT CODE FROM REDDIT"
reliable_responders = True
subreddit_comments = True
subreddit_rules = True
reload_every = 5
sleep_time = 30